// COLORS

  // LIGHT-THEME

    // FONT-COLOR

      $font-active: #0D0D0D;
      $font-default: hsl(240, 3%, 12%);
      $font-muted: #404040;
      $font-disabled: #808080;

    // BACKGROUND-COLOR

      $main-background-color: hsl(0, 0%, 100%);
      $secondary-background-color: hsl(240, 10%, 95%);

  // ACCENT-COLOR

    $accent-active: #30E8AB;
    $accent-default: #880827;
    $accent-muted: #14B881;
    $accent-disabled: #12A171;

  // ALERT-COLOR

    $alert-active: #E8305E;
