.header__button {
  // background: #880827;
  border: 1px solid hsla(0,0%,62%,.2);
  color: hsl(0,0%,62%);

  padding: 1rem 1.5rem;
  border-radius: $radius-small;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  @include screen($tablet) {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
